    #login_logo{
        font-size: 190px;
        color: white;
    }
    .login-page{                         /*color for log-in page */
        background-color:#606ca6;
    }
    input[type=text] {                   /*edit for email and password boxes*/
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 20px;
        margin: 8px 0;
    }

    button{                             /*for all buttons*/
        border-radius: 4px;
    }

    .bold{
        font-weight: bold;
    }

    #login_button{                     /*edit for login-button*/
        color: white;
        background-color: #8a9bed;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 8px 0;
    }

    #signup_button{                   /*edit for signup-button */
        color: white;
        background-color: #8a9bed;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 8px 0;
    }