

    /*                                     Annie      Annie     Annie    Annie                                      */
    body{
        font-family: "Times New Roman", Helvetica, sans-serif;
    }
    .background_Color{
        background-image: linear-gradient(#606ca6, #ccccff);                      /*color for log-in page */
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    * {
        box-sizing:border-box;
    }
    #login_logo{
        font-size: 190px;
        color: white;
    }
    .login-page h1{
        color:black;
    }

   .login-page input[type=text], input[type=password] {                   /*edit for email and password boxes*/
        color: grey;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 9px;
        margin: 8px 0;
        box-sizing: border-box;
        width: 15%;
    }

    .Full{
        width: 80%;
    }

    .itemEdit{
        padding: 2px 10px;
    }

    .itemEdit:hover{

        background-color: #aba9a9;
    }


    button{                             /*for all buttons*/
        background-color: #606ca6;
        color: white;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 8px 0;
        width:80px;
        border-radius: 4px;
    }

    button:hover{
        color: white;
        background-color: #8a9bed;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 8px 0;
        width:80px;
        border-radius: 4px;
    }

    .bold{
        font-weight: bold;
    }

    #login_button{                     /*edit for login-button*/
        color: white;
        background-color: #8a9bed;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 8px 0;
        width:80px;
        cursor: pointer;

    }
    #login_button:hover{
        background-color: #606ca6;
    }

    #signup_button{                   /*edit for signup-button */
        color: white;
        background-color: #8a9bed;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 10px 0;
        width:auto;
    }
    #signup_button:hover{
        background-color: #606ca6;
    }

    .login-page a {
        font-size: 15px;
    }
    .login-page a:hover{                   /*Forgot password*/
        color: #606ca6;
    }

    /*                                             Login                                               */

         /*                                 User- Signup                                       */

    .signup-page h1{
        color:black;
    }

    .signup-page p {
        text-align: right;
        font-size: 20px;
    }
    .signup-page #business_signup:hover{
        color: #8a9bed;
    }
    .signup-page input[type=text], input[type=password]{                  /*edit for signup-button*/
        color: grey;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 9px;
        margin: 8px 0;
        box-sizing: border-box;
        width: 15%;
    }

    .facebook{                                            /*Facebook */
        background-color: #3B5998;
        color: white;
        margin: 20px;
        padding: 10px;
        border-radius:4px;
    }
   .facebook:hover{
        opacity:0.6;
    }

    .twitter{                                             /*Twitter */
        background-color: #55ACEE;
        color: white;
        margin: 20px;
        padding: 10px;
        border-radius:4px;
    }
    .twitter:hover{
        opacity:0.6;
    }
    .google{                                              /*Google */
        background-color: #dd4b39;
        color: white;
        margin: 20px;
        padding: 10px;
        border-radius:4px;
    }
    .google:hover{
        opacity:0.6;
    }
                             /*                                   Business- signup                                */
    .business_signup-page h1{
        color:black;
    }

    .business_signup-page input[type=text], input[type=password]{
        color: grey;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 9px;
        margin: 8px 0;
        box-sizing: border-box;
        width: 15%;
    }

                                      /* Done Business Signup */

                      /*                    Forgot password            */
    .form_container{
        width: 600px;
        border: 1px solid #ccc;
        background-color: white;
        text-align: center;
        margin: auto;
        position:relative;


    }
    .form_container hr{
        background-color: #ccc;
    }

    .form_container #password_logo{
        font-size: 190px;
        color:#606ca6;
    }

    .form_container input[type=text], input[type=password]{                  /*edit for signup-button*/
        color: grey;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 9px;
        margin: 8px 0;
        box-sizing: border-box;

    }
    .form_container #email, #validation_code, #new_password, #confirm_password{
        width: 40%;
    }
    .form_container p{
        color:#606ca6;
        font-size: 15px;
    }
    #reset_button{
        color: white;
        background-color: #8a9bed;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 10px 0;
        width:auto;
    }
    #reset_button:hover{
        background-color: #606ca6;
    }

    /*test */
    #Continue_button{
        color: white;
        background-color: #8a9bed;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 10px 0;
        width:auto;
    }
     #Continue_button:hover{
        background-color: #606ca6;
    }

/*                                                  Annie       Annie       Annie        Annie        Annie       (sorry to make this lol. Just to make it easier for me to see) will delete later ^ ^    */



    h1{
        color: white;
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #606ca6;

    }

    ol{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #606ca6;

    }

    #dashboardMenu{
        margin-left: 20px;
    }

    .dashboardButton{
        margin: 10px 10px;
        background-color: white;
        color: #3B5998;
        font-size: 15px;
    }

    .searchBar{
        background-color: #8a9bed;
        color: white;
        border: 3px solid #606ca6;
        border-radius: 7px;
        font-size: 15px;
        margin: 10px 0px;

    }

    .searchBar::placeholder{
        color: white;
    }

    #dashboardNav{
        width: 10%;
        height: 1000px;
        float: left;
        margin-right: 20px;
        color: white;
        background-color: #606ca6;
    }

    .dashboardMenuTitle, .menuInfo{
        color: white;
        background-color: #606ca6;
        border-radius: 20px;
    }

    .menuInfo{
        padding: 10px;
    }




    .Left{
        float: left;
    }

    .Right{
        float: right;
    }

    ul#nav-bar li{
        float: left;
    }


    a{
        color: white;
        text-decoration: none;
        display: block;
        text-align: center;
    }


    li a{
        font-size: 20px;
        padding: 14px 16px;
    }

    ul#nav-bar li.login{
        float: right;
    }

    li a.active{
        background-color: #8a9bed;
    }

    li a:hover{
        background-color: #8a9bed;
    }

    .centered{
        text-align: center;
    }

    .pageHeader{
        width: 100%;
        text-align: center;
        font-size: 45px;
        color: #606ca6;
        text-decoration: underline;
        text-decoration-color: #606ca6;
    }

    .profileItem{
        margin-right: 10%;
    }

    #checkinInput{
        background-color: #8a9bed;
        border: 2px solid #606ca6;
        font-size: 20px;
        padding: 7px 5px;
        width: 20%;
        color: white;
        border-radius: 10px;
    }

    #checkinInput::placeholder{
        color: white;
    }

    #googleMap{
        width:100%;
        height:600px;
    }

    .menuInfo #googleMap{
        width:50%;
        height:300px;
    }

   .menuInfo centered{
       text-align: center;
   }

   #email_logo{
       font-size: 150px;
   }

    .passed{
        color: green;
    }

    .failed{
        color: red;
    }

    .historyList{
        background-color: grey;
        width: 80%;
        height: 300px;
        border: 2px solid white;
        border-radius: 5px;
        overflow-y: scroll;

    }

    .historyList li{
        margin: 10px 5px;
        border: 1px solid white;
        padding: 5px;
        font-size: 20px;
    }

    label{
        font-size: 20px;
    }

    input[type=checkbox]{
        font-size: 20px;
        margin: 10px;
    }

    .liEdit{
          cursor: pointer;
          position: absolute;
          top: 50%;
          right: 0%;
          padding: 12px 16px;
          transform: translate(0%, -50%);
    }