

    body{
        font-family: "Times New Roman", Helvetica, sans-serif;
        margin: 0;
    }



    .background_Color{
       /* background-color: #fde7f9; */
        /*background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%); */


        background-image: url("960592.jpg");                      /*color for log-in page */
        background-size: cover;
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }


    * {
        box-sizing:border-box;
    }
    .container {
        width: 600px;
        border-radius: 10px;
        border: 1px solid #ccc;
        background-color: white;
        text-align: center;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        position:relative;

    }

    #login_logo{
        font-size: 190px;
        color:#329eb8;
        margin: 10px 10px;
    }

    .login-page{
        padding: 15px 0px;
    }

    .login-page h1{
        color:black;
        margin: 0px 0px;
        font-family:sans-serif;
    }

   .login-page input[type=text], #password {                   /*edit for email and password boxes*/
        color: grey;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 9px;
        margin: 8px 0;
        box-sizing: border-box;
        width: 40%;
    }

    .Full{
        width: 80%;
    }

    .itemEdit{
        padding: 2px 10px;
    }

    .itemEdit:hover{

        background-color: #aba9a9;
    }


    /*button{                             /*for all buttons
        background-color: #43acc2;
        color: white;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 8px 0;
        width:80px;
        border-radius: 4px;
    }

    button:hover{
        color: white;
        background-color:#087a9c;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 8px 0;
        width:80px;
        border-radius: 4px;
    }
*/
    button.DeleteButton{
        color: white;
        background-color: red;
    }

    button.DeleteButton:hover{
        color: red;
        background-color: white;
    }


    .bold{
        font-weight: bold;
    }

    #login_button{                     /*edit for login-button*/
        color: white;
        background-color: #43acc2;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 8px 0;
        width:80px;
        cursor: pointer;
        border-radius: 4px;

    }
    #login_button:hover{
        background-color: #087a9c;
    }

    #signup_button{                   /*edit for signup-button */
        color: white;
        background-color: #43acc2;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 10px 0;
        width:auto;
        border-radius: 4px;
    }
    #signup_button:hover{
        background-color: #087a9c;
    }

    button {
        transition: all 0.3s;
    }

    button.active{
        color: white;
        background-color: #43acc2;
        border:1px solid #ccc;
        font-size: 1.17em;
        padding:6px 15px;
        margin: 10px 0px;
        width:auto;
        border-radius: 4px;
    }

    button.inactive{
        color: #43acc2;
        background-color: white;
        border:1px solid #ccc;
        font-size: 1.17em;
        padding:6px 15px;
        margin: 10px 0px;
        width:auto;
        border-radius: 4px;
    }

    button:hover{
        background-color: #087a9c;
        color: white;
    }

    .login-page a {
        color:#43acc2;
        font-size: 15px;
    }
    .login-page a:hover{                   /*Forgot password*/
        color: #087a9c;
    }

    /*                                             Login                                               */

         /*                                 User- Signup                                       */

    .signup-page h1{
        width: 80%;
        text-align: center;
        margin: 20px 50px;
        color:black;
    }

    .signup-page p {
        text-align: right;
        font-size: 20px;
    }
    .signup-page #business_signup{
        color:#43acc2;

    }
    .signup-page #business_signup:hover{
         color:#087a9c;
    }
    .signup-page input[type=text], input[type=password], #CPsw {                  /*edit for signup-button*/
        color: grey;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 9px;
        margin: 8px 0;
        box-sizing: border-box;
        width: 40%;
    }

    .facebook{                                            /*Facebook */
        background-color: #3B5998;
        color: white;
        margin: 20px;
        padding: 10px;
        border-radius:4px;
    }
   .facebook:hover{
        opacity:0.6;
    }

    .twitter{                                             /*Twitter */
        background-color: #55ACEE;
        color: white;
        margin: 20px;
        padding: 10px;
        border-radius:4px;
    }
    .twitter:hover{
        opacity:0.6;
    }
    .google{                                              /*Google */
        background-color: #dd4b39;
        color: white;
        margin: 20px;
        padding: 10px;
        border-radius:4px;
    }
    .google:hover{
        opacity:0.6;
    }

     #message h3{
         font-size: 15px;
         color: black;

     }
     #message p{
        text-align:center;
        width:50%;
        padding: 10px 35px;
        font-size: 13px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }

    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }
    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
    }

    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
}
                             /*                                   Business- signup                                */
    .business_signup-page h1{
        color:black;
    }

    .business_signup-page input[type=text], input[type=password]{
        color: grey;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 9px;
        margin: 8px 0;
        box-sizing: border-box;
        width: 40%;
    }


                                      /* Done Business Signup */

                      /*                    Forgot password            */
    .form_container{
        width: 600px;
        border: 1px solid #ccc;
        background-color: white;
        text-align: center;
        margin: auto;
        position:relative;


    }
    .form_container hr{
        background-color: #ccc;
    }

    .form_container #password_logo{
        font-size: 190px;
        color:#329eb8;
    }

    .form_container input[type=text], input[type=password]{                  /*edit for signup-button*/
        color: grey;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 9px;
        margin: 8px 0;
        box-sizing: border-box;

    }
    .form_container #email, #validation_code, #Psw, #confirm_password, #new_password{
        width: 40%;
    }
    .form_container .bold p{
        color:#606ca6;
        font-size: 15px;
    }
    .form_container #message p {
        margin:auto;
    }
    #reset_button{
        color: white;
        background-color: #43acc2;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 10px 0;
        width: auto;
        border-radius: 4px;
    }
    #reset_button:hover{
        background-color: #087a9c;
    }

   /* Dashboard */

    .dashboardMenuTitle h1{
        color: white;
    }

    ul{
        border: 3px solid green;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #087a9c;

    }

    ul.logout{
        float:none;
    }

    ol{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #087a9c;

    }

    #dashboardMenu{
        margin-left: 20px;
    }

    .dashboardButton{
        color: white;
        background-color: #43acc2;
        border:2px solid yellow;
        padding:6px 15px;
        margin: 10px 0;
        width: auto;
        border-radius: 4px;
        font-size: 15px;
    }
     .dashboardButton:hover{
        background-color: #087a9c;
    }

    .searchBar{
        background-color: #8a9bed;
        color: white;
        border: 3px solid #606ca6;
        border-radius: 7px;
        font-size: 15px;
        margin: 10px 0px;

    }

    .searchBar::placeholder{
        color: white;
    }

    #dashboardNav{
        border-radius: 10px;
        border: 3px solid green;
        width: 100px;
        height: 458px;
        float: left;
        margin-right: 20px;
        color: white;
        background-color: #087a9c;
    }

    .dashboardMenuTitle, .menuInfo{
        border: 3px solid green;
        color: white;
        background-color: #1485a5;
        border-radius: 20px;
        margin-left: 87px;
    }

    .menuInfo{
       padding: 30px;
       height: 394px;
    }


    #save_button{
        color: white;
        background-color: #43acc2;
        border:2px solid yellow;
        padding:6px 15px;
        margin: 10px 0;
        width: auto;
        border-radius: 4px;
    }
    #save_button:hover{
        background-color: #087a9c;
    }

    #admin_logo{
        font-size: 20px;
        color: white;
        margin-right: 8px;
    }
    #logout_logo{
        font-size: 20px;
        color: white;
        margin-right: 8px;
    }
    #adminSignUp #firstName, #lastName, #phoneNo, #identity, input[type=password] {
        color: grey;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 9px;
        margin: 8px 0;
        box-sizing: border-box;
        width: 20%;
    }
    #adminSignUp button{
        color: white;
        background-color: #43acc2;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 10px 0;
        width: auto;
        border-radius: 4px;
    }
    #adminSignUp button:hover{
        background-color: #087a9c;
    }


    .Left{
        float: left;
    }

    .Right{
        float: right;
    }

    ul#nav-bar li{
        float: left;
    }


    a{
        color: white;
        text-decoration: none;
        display: block;
        text-align: center;
    }


    li a{
        font-size: 20px;
        padding: 14px 16px;
    }

    ul#nav-bar li.login{
        float: right;
    }

    li a.active{
        background-color: #087a9c;
    }

    li a:hover{
        background-color: #43acc2;
    }

    /*                                          Check-in */
    #Login_logo {
        font-size: 20px;
        color: white;
        margin-right: 8px;
    }
    .centered{
        text-align: center;
    }

    .abcRioButton.abcRioButtonLightBlue { margin: 0 auto;}

    .pageHeader{
        width: 100%;
        text-align: center;
        font-size: 45px;
        color: #606ca6;
        text-decoration: underline;
        text-decoration-color: #606ca6;
    }

    .check_in input[type=text]{
        color: grey;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 9px;
        margin: 8px 0;
        box-sizing: border-box;
        width: 20%;
    }

    #submit_button {
        color: white;
        background-color: #43acc2;
        border:1px solid #ccc;
        padding:6px 15px;
        margin: 8px 0;
        width:80px;
        cursor: pointer;
        border-radius: 4px;

    }
    #submit_button:hover{
        background-color: #087a9c;
    }
    }

    .profileItem{
        margin-right: 10%;
    }

    #checkinInput{
        background-color: #8a9bed;
        border: 2px solid #606ca6;
        font-size: 20px;
        padding: 7px 5px;
        width: 20%;
        color: white;
        border-radius: 10px;
    }

    #checkinInput::placeholder{
        color: white;
    }

    #googleMap{
        width:100%;
        height:600px;
    }

    .menuInfo #googleMap{
        width:50%;
        height:300px;
    }

   .menuInfo centered{
       text-align: center;
   }

   #email_logo{
       font-size: 150px;
   }

    .passed{
        color: green;
    }

    .failed{
        color: red;
    }

    .historyList{
        background-color: grey;
        width: 80%;
        height: 300px;
        border: 2px solid white;
        border-radius: 5px;
        overflow-y: scroll;

    }

    .historyList li{
        margin: 10px 5px;
        border: 1px solid white;
        padding: 5px;
        font-size: 20px;
    }

    label{
        font-size: 20px;
    }

    input[type=checkbox]{
        font-size: 20px;
        margin: 10px;
    }

    .liEdit{
          cursor: pointer;
          position: absolute;
          top: 50%;
          right: 0%;
          padding: 12px 16px;
          transform: translate(0%, -50%);
    }

    #checkInDrop{
        position: relative;
        left: 41%;
    }