<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotspot Map</title>
    <script src="https://kit.fontawesome.com/e45ce6bf31.js" crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <link rel ="stylesheet" href="stylesheets/Project.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/prep.js" ></script>
    <script src="javascripts/hotspot-map.js" defer></script>
    <meta name="google-signin-client_id" content="643500159151-uku04glmj95iqbq33mjq69pltc56lfiu.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body>
    <div id="app">
      <ul id="nav-bar">
          <li><a href="/">LOGO</a></li>
          <li><a href="check-in.html">Check-in</a></li>
          <li><a class="active" href="hotspot-map.html">Hotspot Map</a></li>
          <li><a href="dashboard.html">Dashboard</a></li>
          <li v-if="!loggedIn" class="login"><a href="login.html">Login</a></li>
          <li v-else class="login">
            <div>
                <a href="dashboard.html" v-on:mouseenter="showLogout = true;" v-on:mouseleave="showLogout = false;"><i class="fas fa-users-cog" id="admin_logo"></i>{{firstName}}</a>
                <a v-if="showLogout" v-on:mouseenter="showLogout = true;" v-on:mouseleave="showLogout = false;" onClick="logout()"><i class="fas fa-sign-out-alt" id="logout_logo"></i>Logout</a>
            </div>
          </li>
      </ul>

    <h1 class="pageHeader">Hotspot Map</h1>
  </div>
  <div id='map' style='width: 100%; height: 600px;'></div>

  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</body>

</html>