<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Login page</title>
        <meta charset ="UTF-8">
        <script src="https://kit.fontawesome.com/e45ce6bf31.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="javascripts/login.js" defer></script>
        <link rel ="stylesheet" href="stylesheets/Project.css">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="643500159151-uku04glmj95iqbq33mjq69pltc56lfiu.apps.googleusercontent.com">

    </head>
    <body class="background_Color">
        <a href="check-in.html"><img src="heart_6.png" alt="Italian Trulli"  width="80" height="70"></a>
        <div class ="container">                                       <!--Making a white container -->
            <div id="app" class="login-page">
                <i id="login_logo" class="fas fa-user-circle"></i>             <!-- Making log-in logo  -->
                <h1>Log into the app</h1>
                <h3 class="invalid" v-bind:style="{'visibility' : invalid}">Incorrect email or password!</h3>
                <form v-on:submit.prevent="logIn">                                <!--Creating log-in inputs -->
                    <i class="fas fa-envelope"></i>
                    <input type="text" id="email" name="email" placeholder="Enter email..." v-model="email" required ><br>
                    <i class="fas fa-key"></i>
                    <input type="password" id="password" name="password" placeholder ="Enter password..." v-model="password" required><br>
                    <button type="submit" class="bold" id="login_button">Login</button>                    <!-- Login Button -->
                                                           <!-- Forgot password -->
                </form>
                <form action="signup.html">
                    <button id="signup_button" class="bold" type="submit" >Sign Up</button><br>
                    <p><a class="bold" href="forgot_password.html">Forgot your password?</a></p>
                </form>

                <p>or</p>


            </div>
            <div class="g-signin2" data-onsuccess="onGoogleSignIn"></div>
        </div>
    </body>
</html>