<!DOCTYPE html>
<html lang ="en">
    <head>
        <title> User signup</title>
        <meta charset ="UTF-8">
        <script src="https://kit.fontawesome.com/e45ce6bf31.js" crossorigin="anonymous"></script>
        <link rel ="stylesheet" href="stylesheets/Project.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="javascripts/prep.js"></script>
         <script src="javascripts/signupOpenID.js" defer></script>
         <meta name="google-signin-client_id" content="643500159151-uku04glmj95iqbq33mjq69pltc56lfiu.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body class="background_Color">                               <!-- Set the whole page's background color -->

        <div class ="form_container" id="app">                             <!--Making a white container -->
            <div v-if="tokenId !== ''" class ="signup-page">

                <h1> Create a new account</h1>
                <div class="toggle">
                    <button v-bind:class="{'active': !venueSelected, 'inactive': venueSelected}" v-on:click="venueSelected = false">User</button>
                    <button v-bind:class="{'active': venueSelected, 'inactive': !venueSelected}"  v-on:click="venueSelected = true">Venue</button>
                </div>

                <h3 class = "invalid" v-bind:style="{'visibility': invalid}" >{{invalidMessage}}</h3>
                <form v-if="!venueSelected" v-on:submit.prevent="signUpUser">                                                                                               <!--Creating signup inputs -->
                    <input type="text" id="USph" name="ph" placeholder="Phone number* : " v-model = "phoneNum" required ><br>
                    <input type="text" id="passport" name="passport" placeholder ="Passport/IC* : " v-model = "passport" required><br>
                    <button id="USsignup_button" class="bold" type="button" onClick="cancel()">Cancel</button>
                    <button id="UScancelSignUp" class="bold" type="submit" >Sign Up</button><br>                          <!--Signup button. After signup, go to the login page again-->
                </form>
                <form v-else v-on:submit.prevent="signUpVenue">                                                                                               <!--Creating signup inputs -->
                    <input type="text" id="company_name" name="company_name" v-model="companyName" placeholder="Company name* : " required ><br>
                    <input type="text" id="ph" name="ph" placeholder="Phone number* : " v-model="phoneNum" required >
                    <input type="text" id="building" name="building" placeholder="Building Name* : " v-model="buildingName" required ><br>
                    <input type="text" id="street" name="street" placeholder="Street* : " v-model="street" required >
                    <input type="text" id="zip" name="zip" placeholder="Zip Code* : " v-model="zipCode" required ><br>
                    <input type="text" id="city" name="city" placeholder="City* : " v-model="city" required >
                    <input type="text" id="country" name="country" placeholder="Country* : " v-model="country" required ><br>
                    <button id="signup_button" class="bold" type="button" onClick="cancel()">Cancel</button>
                    <button id="cancelSignUp" class="bold" type="submit">Sign Up</button><br>                          <!--Signup button. After signup, go to th login page again -->
                </form>

            </div>
        </div>

        <div style="display: none" class="g-signin2" data-onsuccess="onGoogleSignIn"></div>
    </body>